<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Smoke01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{141, 155}, {78, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{360, 240}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {360, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{132, 141}, {96, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{360, 240}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 968}, {360, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{111, 105}, {138, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{360, 240}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 484}, {360, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 45}, {222, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{360, 240}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{362, 242}, {360, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 3}, {274, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{360, 240}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{362, 0}, {360, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 8}, {312, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{360, 240}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 726}, {360, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 14}, {340, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{360, 240}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 242}, {360, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 14}, {340, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{360, 240}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{362, 726}, {360, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 14}, {340, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{360, 240}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{362, 968}, {360, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 14}, {340, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{360, 240}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{362, 484}, {360, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 14}, {340, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{340, 212}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1210}, {340, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 14}, {340, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{340, 212}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 1210}, {340, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Smoke13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 14}, {340, 210}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{340, 210}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 1210}, {340, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>Smoke</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>s</string>
			<key>textureFileName</key>
			<string>Smoke_s</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Smoke_s</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>